.text-loading, .card-news-loading .card-content-loading .card-title-loading, .card-news-loading .card-content-loading .card-data-loading .ref-loading .card-refrence-loading, .card-news-loading .card-content-loading .card-data-loading .ref-loading .card-date-loading {
  height: 18px;
  background: #f4f4f4; }

.card-news-loading {
  background: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.07); }
  .card-news-loading .img-contain-loading {
    height: 250px;
    background: #f4f4f4; }
  .card-news-loading .card-content-loading {
    padding: 15px 20px; }
    .card-news-loading .card-content-loading .card-title-loading {
      margin-bottom: 10px; }
    .card-news-loading .card-content-loading .card-title-loading:nth-child(2) {
      width: 200px; }
    .card-news-loading .card-content-loading .card-data-loading {
      margin-top: 44px;
      display: flex; }
      .card-news-loading .card-content-loading .card-data-loading .ref-loading {
        display: flex;
        align-items: center; }
        .card-news-loading .card-content-loading .card-data-loading .ref-loading .card-refrence-loading {
          margin-right: 50px;
          width: 100px; }
        .card-news-loading .card-content-loading .card-data-loading .ref-loading .card-date-loading {
          width: 100px; }
