@import "../../Styles/styles.scss";

.view-item-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 2000px;
  background-color: #fff;

  .container {
    width: 90%;
    margin: 0 auto;

    .head-item {
      display: flex;
      justify-content: space-between;

      .slide-news-item {
        border-radius: 8px;
        overflow: hidden;
        position: relative;
        height: 570px;
        margin-top: 195px;
        width: 960px;

        .img {
          width: 960px;
          min-height: 570px;
          height: 570px;
          background: #f4f4f4;
        }

        .slide-content-item-loading {
          height: 18px;
          background: #f4f4f4;

          .slide-data-item {
            height: auto;
            margin-top: auto;

            .slide-title-item {
              font-size: 22px;
              font-weight: 500;
              margin: 15px 0px 10px 0px;
              width: 75%;
              line-height: 33px;
            }
            .slide-refrence-item-loading {
              height: 18px;
              background: #f4f4f4;
            }
          }
        }
      }
    }

    .detailed-item {
      margin-top: 40px;
      width: 960px;

      .item-info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .author-info,
        .date-info {
          display: flex;
          align-items: center;

          .author-name-loading {
            width: 42px;
            height: 42px;
            border-radius: 50%;
            background: #f4f4f4;
            margin-right: 10px;
          }

          .author-loading,
          .date-loading {
            width: 120px;
            height: 18px;
            background: #f4f4f4;
          }
        }
      }
    }
  }
}
