@import url(/public/fonts.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  overflow-x: hidden; }

body {
  font-family: "Maven Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8; }

::-webkit-scrollbar {
  display: none; }

img {
  max-width: 100%; }

ul {
  list-style: none; }

a {
  text-decoration: none; }
